<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: "form-control" %>

      <%= f.label :gender %>
      <div id="gender-area">
        <%= f.label(:gender_0, t("male")) %>
        <%= f.radio_button(:gender, User.genders[:male]) %>
        <%= f.label(:gender_1, t("female")) %>
        <%= f.radio_button(:gender, User.genders[:female]) %>
      </div>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t(".submit_text"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
